<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="logo">
          <div class="logo-good">GOOD</div>
          <div class="logo-book">BOOK</div>
        </div>
      </nav>
      <div class="content">
        <h1 class="heading heading--bold heading--muted">
          Complete the quiz to finish your registration
        </h1>
        <form class="likert" action="/quiz/submit" method="POST">
          <label class="likert__question"
            >Book of which length do you prefer?</label
          >
          <ul class="likert__scale">
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertPages"
                value="0"
                required
              />
              <label class="likert__scale__item__label">Short books</label>
            </li>
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertPages"
                value="0.25"
              />
            </li>
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertPages"
                value="0.5"
              />
              <label class="likert__scale__item__label">Neutral</label>
            </li>
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertPages"
                value="0.75"
              />
            </li>
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertPages"
                value="1"
              />
              <label class="likert__scale__item__label">Long books</label>
            </li>
          </ul>
          <label class="likert__question"
            >Which year of publishing do you prefer?</label
          >
          <ul class="likert__scale">
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertYear"
                value="0"
                required
              />
              <label class="likert__scale__item__label">Old books</label>
            </li>
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertYear"
                value="0.25"
              />
            </li>
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertYear"
                value="0.5"
              />
              <label class="likert__scale__item__label">Neutral</label>
            </li>
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertYear"
                value="0.75"
              />
            </li>
            <li class="likert__scale__item">
              <input
                class="likert__scale__item__input"
                type="radio"
                name="likertYear"
                value="1"
              />
              <label class="likert__scale__item__label">New books</label>
            </li>
          </ul>
          <!-- <h2>Do you like reading long books?</h2>
          <input
            type="number"
            name="number_of_pages"
            min="1"
            max="10"
            required
          />

          <h2>Do you like reading new modern books?</h2>
          <input
            type="number"
            name="year_published"
            min="1"
            max="10"
            required
          /> -->

          <h2 class="likert__question">Select your preferred genres:</h2>
          <div class="checkbox-grid">
            <% for (let i = 0; i < genres.length; i++) { %>
            <label class="checkbox-option">
              <input
                type="checkbox"
                name="genre_preferences"
                value="<%= genres[i].genre_name %>"
                class="genre-checkbox"
              />
              <%= genres[i].genre_name %>
            </label>
            <% } %>
          </div>

          <button type="submit" class="mt submit-btn">Submit Quiz</button>
        </form>
      </div>
    </div>
  </body>
</html>
