<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Quiz!</h1>
    <form action="/quiz/submit" method="POST">
      <h2>How many pages do you prefer? (1-10)</h2>
      <input type="number" name="number_of_pages" min="1" max="10" required />

      <h2>What publication year range do you prefer? (1-10)</h2>
      <input type="number" name="year_published" min="1" max="10" required />

      <h2>Select your preferred genres:</h2>
      <% for (let i = 0; i < genres.length; i++) { %>
      <label>
        <input
          type="checkbox"
          name="genre_preferences"
          value="<%= genres[i].genre_name %>"
        />
        <%= genres[i].genre_name %>
      </label>
      <% } %>

      <br /><br />
      <button type="submit">Submit Quiz</button>
    </form>
  </body>
</html>
