@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.mt {
  margin-top: 2rem;
}
.mt-5 {
  margin-top: 4rem;
}

.mb {
  margin-bottom: 1rem;
}

.colored-background {
  background: #eeecec;
  padding: 2rem;
  border-radius: 16px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.content {
  padding: 4rem 8rem;
}
.content--flexbox {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .content {
    padding: 2rem 4rem;
  }
  .content--flexbox {
    display: block;
  }
}
@media (max-width: 640px) {
  .content {
    padding: 1rem 2rem;
  }
}
* {
  font-family: Inter, sans-serif;
}

.heading {
  font-size: 32px;
  font-weight: 400;
}
.heading--bold {
  font-weight: 600;
}
.heading--muted {
  color: gray;
}

.heading-with-divider {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.heading-with-divider__heading {
  flex: 1;
}

.divider {
  height: 1px;
  color: gray;
  width: 100%;
  background-color: gray;
  flex: 6;
}

.subheading {
  font-size: 24px;
}
.subheading--regular {
  font-weight: 400;
}
.subheading--bold {
  font-weight: 600;
}
.subheading--light {
  color: gray;
}
.subheading--small {
  font-size: 20px;
}

.text {
  font-size: 18px;
}
.text--muted {
  color: gray;
}

.error-message {
  color: #ff4444;
}
.error-message--hidden {
  display: none;
}

@media (max-width: 640px) {
  .subheading {
    font-size: 20px;
  }
  .subheading--small {
    font-size: 18px;
  }
  .text {
    font-size: 16px;
  }
}
.logo {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  padding: 8px;
  justify-content: center;
}
.logo--background {
  background: #1C1F73;
  aspect-ratio: 1/1;
  border-radius: 8px;
}
.logo-good {
  color: #fff;
}
.logo-book {
  color: #B6AAEE;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form__header {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}
.form__field__label {
  font-weight: 600;
}
.form__input-field {
  width: 100%;
  padding: 1rem;
  border-radius: 16px;
  background-color: #eeecec;
  border: 1px solid #dddddd;
  font-size: 16px;
  transition: border-color 0.2s ease;
}
.form__input-field:focus {
  outline: none;
  border-color: #B6AAEE;
}
.form__input-field.error {
  border-color: #ff4444;
}
.form__row {
  display: flex;
  gap: 1rem;
}
.form__button-container {
  display: flex;
  gap: 1rem;
}
.form__button-container .submit-btn {
  width: 20%;
}
.form__login-link {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 14px;
  color: #1C1F73;
}
.form__login-link__link {
  color: #2a2ea4;
  font-weight: 800;
  text-decoration: none;
}
.form__login-link__link:hover {
  text-decoration: underline;
}

.checkbox-option {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #dddddd;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

@media (max-width: 991px) {
  .checkbox-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.round-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 16px;
  background-color: #1C1F73;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 1rem;
}
.submit-btn:hover {
  transform: scale(1.02);
}
.submit-btn--outline {
  background-color: transparent;
  color: #1C1F73;
  border: 2px solid #1C1F73;
}
.submit-btn--navbar {
  background: #eeecec;
  align-items: center;
  color: #1C1F73;
  gap: 1rem;
}
.submit-btn--red {
  color: #ff4444;
  border: 2px solid #ff4444;
}
.submit-btn--small {
  width: 20%;
}

.like-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #fff;
}

.like-btn.liked .like-icon {
  fill: #FF4444;
  stroke: #FF4444;
  transform: scale(1.1);
}

.like-icon,
.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #eeecec;
  width: 48px;
  height: 48px;
}
.to-top-btn__icon {
  fill: #1C1F73;
  stroke: #1C1F73;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  left: 0;
  top: 4px;
  transition: all 200ms ease-in-out;
}
.to-top-btn__icon:hover {
  top: 0;
}

.close-button {
  color: #666363;
  font-size: 32px;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar {
  height: 104px;
  background-color: #1C1F73;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}
.navbar__avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #eeecec;
}
.navbar__align-right {
  display: flex;
  margin-left: auto;
  gap: 3rem;
  align-items: center;
}
.navbar__language-switch {
  margin-left: auto;
}
.navbar__language__link {
  color: #fff;
}
.navbar__language__link--dark {
  color: #1C1F73;
}
.navbar__language__link.active {
  font-weight: bold;
}

@media (max-width: 991px) {
  .navbar {
    padding: 0 4rem;
  }
}
@media (max-width: 640px) {
  .navbar {
    padding: 0 2rem;
  }
}
.book-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.book-card__image-container {
  position: relative;
}
.book-card__content {
  flex-grow: 1;
}
.book-card__cover-image {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 16px;
  background-color: #d9d9d9;
  aspect-ratio: 3/4;
}
.book-card__details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.book-cover-container {
  width: 400px;
}

@media (max-width: 640px) {
  book-card__cover-image {
    height: 400px;
  }
}
.likert {
  border-top: 2px solid #dddddd;
  margin-top: 2rem;
}
.likert__question {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin: 1rem 0;
}

.modal-overlay {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.modal__content {
  background-color: #fff;
  border-radius: 16px;
  width: 1000px;
  padding: 2rem;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.modal__body {
  display: flex;
  gap: 3rem;
}
.modal__book-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.modal__book-details__section {
  margin-bottom: 2rem;
}
.modal__book-details__section--description {
  flex: 1;
}
.modal__book-additional-details {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-width: 1px;
  border-color: #e5e5e5;
}

.detail-item {
  text-align: center;
}

@media (max-width: 991px) {
  .modal__body {
    flex-direction: column;
    gap: 1rem;
  }
  .modal__content {
    margin: 4rem;
  }
  .book-cover-container {
    max-width: 30%;
    margin-right: auto;
    align-self: start;
  }
}
@media (max-width: 640px) {
  .modal__content {
    padding: 1.5rem;
  }
  .modal__header {
    margin-bottom: 1.5rem;
  }
  .modal__book-additional-details {
    gap: 1rem;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  border-right: 1px solid #dddddd;
  padding-right: 4rem;
}
.sidebar__link-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar__link {
  color: #000;
  transition: all 200ms ease-in-out;
  padding: 1rem 2rem;
  border-radius: 16px;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sidebar__link--active {
  background: #eeecec;
}
.sidebar__link:hover {
  transform: scale(1.02);
}

@media (max-width: 1400px) {
  .sidebar {
    flex: 0;
    display: none;
  }
}
.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  width: 100%;
}

@media (max-width: 991px) {
  .book-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 640px) {
  .logo-good,
  .logo-book {
    font-size: 24px;
  }
  .navbar__avatar {
    width: 48px;
    height: 48px;
  }
}
.profile__content {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.profile__container {
  flex: 4;
  flex-direction: column;
  gap: 2rem;
  line-height: 1;
}
.profile__log-out {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.profile__submit-btn {
  display: inline-flex;
  align-items: center;
}
.profile__info, .profile__languages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profile__button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.log-out-icon {
  fill: currentColor;
}