.checkbox-option {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid $light-gray-color;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

@media (max-width: 991px) {
    .checkbox-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}