.likert {
    border-top: 2px solid $light-gray-color;
    margin-top: 2rem;

    &__question {
        display: block;
        font-size: 24px;
        font-weight: bold;
        margin: 1rem 0;
    }

    &__scale__item {
        font-size: 18px;

        &__input {
            margin-bottom: 1rem;
        }
    }

    // &__scale {
    //     list-style: none;
    //     width: 100%;
    //     margin: 0;
    //     padding: 0 0 35px;
    //     border-bottom: 2px solid $light-gray-color;

    //     &__item {
    //         display: inline-block;
    //         width: 19%;
    //         text-align: center;
    //         vertical-align: top;

    //         &__input {
    //             display: block;
    //             position: relative;
    //             top: 0;
    //             left: 50%;
    //             margin-left: -6px;
    //         }

    //         &__label {
    //             width: 100%;
    //         }
    //     }
    // }

    // &__scale:last-of-type {
    //     border-bottom: 0;
    // }

    // &__scale:before {
    //     content: '';
    //     position: relative;
    //     top: 11px;
    //     left: 9.5%;
    //     display: block;
    //     background-color: $light-gray-color;
    //     height: 4px;
    //     width: 78%;
    // }
}

.chart-scale {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $light-gray-color;
}

.btn-scale {
    padding: 0.5rem 2rem;
    border-radius: 8px;
    border: 1px solid $light-gray-color;
    background: transparent;

    &:hover {
        cursor: pointer;
        background: $light-color;
    }

    &.selected {
        background: $primary-color;
    }
}