@import '../abstracts/variables';

.logo {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 800;
    line-height: 1;
    padding: 8px;
    justify-content: center;

    &--background {
        background: $secondary-color;
        aspect-ratio: 1/1;
        border-radius: 8px;
    }

    &-good {
        color: $white-color;
    }

    &-book {
        color: $primary-color;
    }
}