@import '../abstracts/variables';

.navbar {

    height: 104px;
    background-color: $secondary-color;
    padding: 0 8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

    &__avatar {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        background-color: $light-color;
    }
    &__align-right {
        display:flex;
        margin-left:auto;
        gap:3rem;
        align-items: center;
    }
    &__language-switch {
        margin-left: auto;
    }

    &__language__link {
        color: $white-color;

        &--dark {
            color: $secondary-color;
        }

        &.active {
            font-weight: bold;
        }
    }
}

@media (max-width: 991px) {
    .navbar {
        padding: 0 4rem;
    }
}

@media (max-width: 640px) {
    .navbar {
        padding: 0 2rem;
    }
}