@import '../abstracts/variables';

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    border-right: 1px solid $light-gray-color;
    padding-right: 4rem;

    &__link-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__link {
        color: $dark-color;
        transition: all 200ms ease-in-out;

        padding: 1rem 2rem;
        border-radius: 16px;
        display: flex;
        gap: 1rem;
        align-items: center;

        &--active {
            background: $light-color;
        }

        &:hover {
            transform: scale(1.02);

            // & p {
            //     font-weight: 600;
            // }
        }
    }
}