.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    width: 100%;
}

@media (max-width: 991px) {
    .book-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 640px) {

    .logo-good,
    .logo-book {
        font-size: 24px;
    }

    .navbar__avatar {
        width: 48px;
        height: 48px;
    }
}

.genre-section {
    margin: 4rem 0 2rem;
}