@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import '../abstracts/variables';

* {
    font-family: Inter, sans-serif;
}

.heading {
    font-size: 32px;
    font-weight: 400;

    &--bold {
        font-weight: 600;
    }

    &--muted {
        color: $muted-color;
    }
}

.heading-with-divider {
    display: flex;
    gap: 1rem;
    align-items: baseline;

    &__heading {
        flex: 1;
    }
}

.divider {
    height: 1px;
    color: $muted-color;
    width: 100%;
    background-color: $muted-color;
    flex: 6;
}

.subheading {
    font-size: 24px;

    &--regular {
        font-weight: 400;
    }

    &--bold {
        font-weight: 600;
    }

    &--light {
        color: $muted-color;
    }

    &--small {
        font-size: 20px;
    }
}

.text {
    font-size: 18px;

    &--muted {
        color: $muted-color;
    }
}

.error-message {
    color: $error-color;

    &--hidden {
        display: none;
    }
}


@media (max-width:640px) {
    .subheading {
        font-size: 20px;

        &--small {
            font-size: 18px;
        }
    }

    .text {
        font-size: 16px;
    }
}