.mt {
    margin-top: 2rem;

    &-5 {
        margin-top: 4rem;
    }
}

.mb {
    margin-bottom: 1rem;
}

.colored-background {
    background: #f4f4f4;
    padding: 2rem;
    border-radius: 16px;
}