$primary-color: #B6AAEE;
$secondary-color: #1C1F73;
$secondary-light-color: #2a2ea4;

$white-color: #fff;
$light-color: #eeecec;
$light-gray-color: #dddddd;
$muted-color: gray;
$dark-color: #000;

$error-color: #ff4444;